# Lecture 23: Pandas II

- Identify the appropriate pandas data structure (Series or a DataFrame) to contain data
- Read and write Excel worksheets with pandas
- Use IPython tab completion to view the attributes of an object
- Select DataFrame data by lists/slices of row/column indices/labels
- Select DataFrame data by element values using boolean indexing
- Modify selected DataFrame data using the assignment operator
- Add data by concatenation and remove data by copying the desired data into a new DataFrame.

__Reading Material:__
- [Pandas Tutorial](https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html)
- Pandas Basics Cheat Sheet (on CCLE)

- Read the [pandas Overview](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html) until “Getting Support”. so focus on “Data Structures at a Glance” and “Mutability and copying of data”. This is what you should get now:
    - We will be working with two kinds of pandas data structures: 
        - Series (one dimensional, homogeneously-typed arrays) and 
        - DataFrames (2D arrays with column and row labels, each column of which is typically a Series).  
     You can think of a Series as a single column from a table, and a DataFrame as a table (composed of several columns), but they are separate kinds of objects, each with its own methods.
    - It notes that it is conceivable to have a single class of objects capable of storing either 1D, 2D, or 3D (some sort of “N-D array” object, or a list of lists of lists, for instance) but the designers of pandas chose not to do that. Instead there is one class for 1D data (Series), one class for 2D data (DataFrame), and one class for 3D data (which we won’t use).
    - Once created, the values in a pandas data structure (a __Series__ or __DataFrame__) can be edited, but it might not be possible to add new, additional values. To accomplish the same goal, you’d have to copy all the data into a new, larger data structure. It’s like we’re back in C++, when we can change the values of an array, but not change its length.

### Object Creation
- Read [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html) up to “Object Creation”.

In [88]:
import pandas as pd
import numpy as np

- We use the __Series__ constructor to convert a regular Python list into a __pandas Series__ object. When printed, the__ Series__ object shows its index column, a list of integers by default, to the left of the actual data. __np.nan__ is simply an object called “Not a Number” used to represent a quantitative concept that is not actually a number, like infinity.

In [89]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

- The __date_range__ function generates a range of dates. The first argument is the initial date as a string in a “YYYYMMDD” format, and the next argument is the total number of consecutive dates we want to be generated. The default separation between values in the range is one day (you can modify this using the __freq__ parameter).

In [90]:
dates = pd.date_range('20191121', periods=6)
dates

DatetimeIndex(['2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24',
               '2019-11-25', '2019-11-26'],
              dtype='datetime64[ns]', freq='D')

- The command __np.random.rand(6,4)__ generates an object representing a two dimensional (six rows, four columns) array of random numbers between zero and one. We create a __DataFrame__ object out of it. But rather than using an integer index to refer to a particular row, we want to use a date to pick out rows. Apparently each date corresponds with four numbers, which could represent, for example, the average temperature, humidity, rainfall, and wind speed on that day.

In [91]:
df_test = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print df_test
print type(list('Abcd'))
print list("123")

                   A         B         C         D
2019-11-21  0.007925 -0.131252 -0.013149 -0.003546
2019-11-22  0.837588  2.269171 -0.268708 -0.347136
2019-11-23 -0.206599 -0.086877  0.580100 -0.809417
2019-11-24 -0.973963  0.630189  1.040340 -0.137702
2019-11-25 -0.939005  0.504361 -1.504999 -0.350847
2019-11-26 -1.390855  1.613343  0.099504  0.990571
<type 'list'>
['1', '2', '3']

- I suggest you try out the IPython tab completion technique mentioned at the end of the section to check out of few attributes. That is, in IPython, type the name of the DataFrame variable followed by a ".", press the tab key on your keyboard, and note the selectable list of attributes that appears.

In [92]:
df_test.keys()

Index([u'A', u'B', u'C', u'D'], dtype='object')

## Getting Data In/Out

- Skip way ahead to Getting Data In/Out – Excel in [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html).

Now let's load the only sheet of data.xlsx into a variable (a __DataFrame__).

In [93]:
df = pd.read_excel('data.xlsx', 'Worksheet', index_col=0)
df

                 Phone      First       Last
Member #
A1001     125-111-4978     Austin       Bell
A1002     763-303-7544     Declan       Buck
A1003     695-919-3789      Carol    Vazquez
A1004     276-570-7451      Fleur     Dunlap
A1005     498-479-7074      Garth     Potter
A1006     139-907-8100    Martena    Jenkins
A1007     893-406-0425   Emmanuel     Morgan
A1008     205-472-5798       Hoyt    Tillman
A1009     820-847-5666       Tana    Vazquez
A1010     186-115-8489      Kitra     Jordan
A1011     287-177-2909      Jenna     Strong
A1012     899-323-0486      Helen   Sheppard
A1013     614-992-6830    Michael     Franco
A1014     572-564-7938      Imani      Byers
A1015     937-238-8313      Wendy      Stout
A1016     455-370-9268     Walker    Edwards
A1017     337-350-0922       Yael       Lamb
A1018     353-651-7605     Baxter    Charles
A1019     136-956-6416        Yen      Stein
A1020     482-431-3179      Perry        Ray
A1021     259-589-0664  Alexander    Patrick
A1022     601-488-1174      Irene   Cantrell
A1023     630-962-1162   Channing    Holland
A1024     607-929-1091       Roth      Nunez
A1025     679-505-2213       Anne    Sanders
A1026     852-561-0924       Erin    Puckett
A1027     620-969-5670     Evelyn     Harris
A1028     654-990-2627       Todd   Castillo
A1029     530-493-8306     Carson      Curry
A1030     594-789-4449   Savannah       Wood
...                ...        ...        ...
A1071     411-883-7642       Ulla      Avery
A1072     736-791-1156     Ariana      Small
A1073     677-980-7326       Cleo     Moreno
A1074     697-777-7905      Reece     Ortega
A1075     279-445-6561        Ori     Cotton
A1076     207-872-8956   Harrison       Page
A1077     672-355-0177    Vaughan   Browning
A1078     384-530-6659   Kathleen  Mcconnell
A1079     241-622-2164       Todd         Le
A1080     178-836-2737      Hilel   Mcintyre
A1081     513-285-0257  MacKenzie     Finley
A1082     724-607-5594      Anika      Bates
A1083     655-277-9422   Caldwell    Winters
A1084     652-717-6070      Flynn   Odonnell
A1085     618-571-0200    Anthony    Whitley
A1086     422-508-6558      Amber      Bauer
A1087     920-271-2608    Melissa     Acosta
A1088     420-181-3711  Jessamine     Reeves
A1089     423-672-9066   Meredith     Carter
A1090     192-617-3694     Keelie    Fischer
A1091     963-621-8389      Thane    Jenkins
A1092     225-392-0669    Brandon     Joseph
A1093     421-485-3036    Latifah     Palmer
A1094     146-650-2279      Briar   Mccarthy
A1095     971-380-3157        Ori       Wise
A1096     801-950-2736    Carolyn      Reese
A1097     363-333-3522      Carla      Hardy
A1098     611-668-2294      Halla     Barker
A1099     162-830-7380     Joseph      Nunez
A1100     706-238-3765       Finn   Hamilton

[100 rows x 3 columns]

- If you don’t understand what a worksheet is, that workbook files can contain multiple worksheets, or why the name of a worksheet needs to be specified, read [this](https://www.excel-easy.com/basics/worksheets.html). 
Note that the second argument to the __read_excel__ method accepts integer arguments as an alternative to the worksheet name. 

- If you left the index column as __None__, a column of integers has been added to the left of the data in the worksheet. We’ll learn that we can use the elements in this column to access rows of the DataFrame, just like we use integers to access elements of a list. However, note that the 0th column in the original excel worksheet can (and should, in this case) be used as an index. Check out what happens when you change the index column to 0. The integer index column is not created; instead we can use the Member ID, a string, to refer to a particular row, just a key is used to access an element of a dictionary.

## Viewing Data

Now read [Viewing Data](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html).
- Try all the attributes (methods and instance variables) mentioned in the section on the data you imported from excel. 
- You’re going to see a lot of u“string”; the u indicates that the string is encoded using Unicode rather than ASCII. You don’t need to know this.

In [94]:
df.head()

                 Phone   First     Last
Member #
A1001     125-111-4978  Austin     Bell
A1002     763-303-7544  Declan     Buck
A1003     695-919-3789   Carol  Vazquez
A1004     276-570-7451   Fleur   Dunlap
A1005     498-479-7074   Garth   Potter

In [95]:
df.tail()

                 Phone    First      Last
Member #
A1096     801-950-2736  Carolyn     Reese
A1097     363-333-3522    Carla     Hardy
A1098     611-668-2294    Halla    Barker
A1099     162-830-7380   Joseph     Nunez
A1100     706-238-3765     Finn  Hamilton

In [96]:
df.index

Index([u'A1001', u'A1002', u'A1003', u'A1004', u'A1005', u'A1006', u'A1007',
       u'A1008', u'A1009', u'A1010', u'A1011', u'A1012', u'A1013', u'A1014',
       u'A1015', u'A1016', u'A1017', u'A1018', u'A1019', u'A1020', u'A1021',
       u'A1022', u'A1023', u'A1024', u'A1025', u'A1026', u'A1027', u'A1028',
       u'A1029', u'A1030', u'A1031', u'A1032', u'A1033', u'A1034', u'A1035',
       u'A1036', u'A1037', u'A1038', u'A1039', u'A1040', u'A1041', u'A1042',
       u'A1043', u'A1044', u'A1045', u'A1046', u'A1047', u'A1048', u'A1049',
       u'A1050', u'A1051', u'A1052', u'A1053', u'A1054', u'A1055', u'A1056',
       u'A1057', u'A1058', u'A1059', u'A1060', u'A1061', u'A1062', u'A1063',
       u'A1064', u'A1065', u'A1066', u'A1067', u'A1068', u'A1069', u'A1070',
       u'A1071', u'A1072', u'A1073', u'A1074', u'A1075', u'A1076', u'A1077',
       u'A1078', u'A1079', u'A1080', u'A1081', u'A1082', u'A1083', u'A1084',
       u'A1085', u'A1086', u'A1087', u'A1088', u'A1089', u'A1090', u'A1091',
       u'A1092', u'A1093', u'A1094', u'A1095', u'A1096', u'A1097', u'A1098',
       u'A1099', u'A1100'],
      dtype='object', name=u'Member #')

In [97]:
df.columns

Index([u'Phone', u'First', u'Last'], dtype='object')

In [98]:
df.values

array([[u'125-111-4978', u'Austin', u'Bell'],
       [u'763-303-7544', u'Declan', u'Buck'],
       [u'695-919-3789', u'Carol', u'Vazquez'],
       [u'276-570-7451', u'Fleur', u'Dunlap'],
       [u'498-479-7074', u'Garth', u'Potter'],
       [u'139-907-8100', u'Martena', u'Jenkins'],
       [u'893-406-0425', u'Emmanuel', u'Morgan'],
       [u'205-472-5798', u'Hoyt', u'Tillman'],
       [u'820-847-5666', u'Tana', u'Vazquez'],
       [u'186-115-8489', u'Kitra', u'Jordan'],
       [u'287-177-2909', u'Jenna', u'Strong'],
       [u'899-323-0486', u'Helen', u'Sheppard'],
       [u'614-992-6830', u'Michael', u'Franco'],
       [u'572-564-7938', u'Imani', u'Byers'],
       [u'937-238-8313', u'Wendy', u'Stout'],
       [u'455-370-9268', u'Walker', u'Edwards'],
       [u'337-350-0922', u'Yael', u'Lamb'],
       [u'353-651-7605', u'Baxter', u'Charles'],
       [u'136-956-6416', u'Yen', u'Stein'],
       [u'482-431-3179', u'Perry', u'Ray'],
       [u'259-589-0664', u'Alexander', u'Patrick'],
       [u'601-488-1174', u'Irene', u'Cantrell'],
       [u'630-962-1162', u'Channing', u'Holland'],
       [u'607-929-1091', u'Roth', u'Nunez'],
       [u'679-505-2213', u'Anne', u'Sanders'],
       [u'852-561-0924', u'Erin', u'Puckett'],
       [u'620-969-5670', u'Evelyn', u'Harris'],
       [u'654-990-2627', u'Todd', u'Castillo'],
       [u'530-493-8306', u'Carson', u'Curry'],
       [u'594-789-4449', u'Savannah', u'Wood'],
       [u'834-211-7419', u'Ruby', u'Mcgee'],
       [u'242-558-4196', u'Meredith', u'Wilkerson'],
       [u'406-131-3525', u'Calvin', u'Schroeder'],
       [u'548-715-2455', u'Farrah', u'Rowe'],
       [u'631-323-8493', u'Lewis', u'Witt'],
       [u'239-411-7282', u'Wallace', u'Blackwell'],
       [u'364-584-1094', u'Melodie', u'Maldonado'],
       [u'583-430-3157', u'Nita', u'Mitchell'],
       [u'905-550-4518', u'Edward', u'Mcclure'],
       [u'474-992-6615', u'Ariel', u'Alford'],
       [u'426-318-6825', u'Hiroko', u'Reed'],
       [u'598-729-8144', u'Ariel', u'Solomon'],
       [u'134-819-9669', u'Anjolie', u'Melton'],
       [u'512-229-3963', u'Jillian', u'Mcfadden'],
       [u'399-792-2059', u'Quinlan', u'Berger'],
       [u'792-950-8116', u'Dillon', u'Campos'],
       [u'619-948-4860', u'Scarlett', u'Browning'],
       [u'771-964-9335', u'Kaitlin', u'Kemp'],
       [u'556-992-2754', u'Summer', u'Justice'],
       [u'788-756-7054', u'Jena', u'Garcia'],
       [u'145-839-1115', u'Tasha', u'Hickman'],
       [u'789-767-9574', u'Chaney', u'Meadows'],
       [u'272-446-0526', u'Lila', u'Whitehead'],
       [u'569-719-7376', u'Raven', u'Randolph'],
       [u'532-537-4622', u'Amal', u'Cooke'],
       [u'464-812-6144', u'Leonard', u'Green'],
       [u'710-973-1741', u'Fredericka', u'Shaw'],
       [u'368-224-3826', u'Illiana', u'Jennings'],
       [u'725-843-4084', u'Lara', u'Conner'],
       [u'242-782-8361', u'Tatum', u'Le'],
       [u'740-286-2241', u'Trevor', u'Wade'],
       [u'865-365-7405', u'Michael', u'Fuller'],
       [u'443-699-5862', u'Sharon', u'Wallace'],
       [u'576-202-7486', u'Nevada', u'Whitfield'],
       [u'926-479-4319', u'Dieter', u'Hampton'],
       [u'677-234-5220', u'Camille', u'Brown'],
       [u'596-606-9735', u'Margaret', u'Parker'],
       [u'477-476-5041', u'Jonah', u'Rivas'],
       [u'182-733-6396', u'Grace', u'Shelton'],
       [u'301-987-3246', u'Summer', u'Tanner'],
       [u'411-883-7642', u'Ulla', u'Avery'],
       [u'736-791-1156', u'Ariana', u'Small'],
       [u'677-980-7326', u'Cleo', u'Moreno'],
       [u'697-777-7905', u'Reece', u'Ortega'],
       [u'279-445-6561', u'Ori', u'Cotton'],
       [u'207-872-8956', u'Harrison', u'Page'],
       [u'672-355-0177', u'Vaughan', u'Browning'],
       [u'384-530-6659', u'Kathleen', u'Mcconnell'],
       [u'241-622-2164', u'Todd', u'Le'],
       [u'178-836-2737', u'Hilel', u'Mcintyre'],
       [u'513-285-0257', u'MacKenzie', u'Finley'],
       [u'724-607-5594', u'Anika', u'Bates'],
       [u'655-277-9422', u'Caldwell', u'Winters'],
       [u'652-717-6070', u'Flynn', u'Odonnell'],
       [u'618-571-0200', u'Anthony', u'Whitley'],
       [u'422-508-6558', u'Amber', u'Bauer'],
       [u'920-271-2608', u'Melissa', u'Acosta'],
       [u'420-181-3711', u'Jessamine', u'Reeves'],
       [u'423-672-9066', u'Meredith', u'Carter'],
       [u'192-617-3694', u'Keelie', u'Fischer'],
       [u'963-621-8389', u'Thane', u'Jenkins'],
       [u'225-392-0669', u'Brandon', u'Joseph'],
       [u'421-485-3036', u'Latifah', u'Palmer'],
       [u'146-650-2279', u'Briar', u'Mccarthy'],
       [u'971-380-3157', u'Ori', u'Wise'],
       [u'801-950-2736', u'Carolyn', u'Reese'],
       [u'363-333-3522', u'Carla', u'Hardy'],
       [u'611-668-2294', u'Halla', u'Barker'],
       [u'162-830-7380', u'Joseph', u'Nunez'],
       [u'706-238-3765', u'Finn', u'Hamilton']], dtype=object)

In [99]:
df.describe()

               Phone     First     Last
count            100       100      100
unique           100        94       95
top     207-872-8956  Meredith  Vazquez
freq               1         2        2

In [100]:
df.T
# print df.to_numpy()

Member #,A1001,A1002,A1003,A1004,A1005,A1006,A1007,A1008,A1009,A1010,...,A1091,A1092,A1093,A1094,A1095,A1096,A1097,A1098,A1099,A1100
Phone,125-111-4978,763-303-7544,695-919-3789,276-570-7451,498-479-7074,139-907-8100,893-406-0425,205-472-5798,820-847-5666,186-115-8489,...,963-621-8389,225-392-0669,421-485-3036,146-650-2279,971-380-3157,801-950-2736,363-333-3522,611-668-2294,162-830-7380,706-238-3765
First,Austin,Declan,Carol,Fleur,Garth,Martena,Emmanuel,Hoyt,Tana,Kitra,...,Thane,Brandon,Latifah,Briar,Ori,Carolyn,Carla,Halla,Joseph,Finn
Last,Bell,Buck,Vazquez,Dunlap,Potter,Jenkins,Morgan,Tillman,Vazquez,Jordan,...,Jenkins,Joseph,Palmer,Mccarthy,Wise,Reese,Hardy,Barker,Nunez,Hamilton

Try different values for axis and ascending to explore what is going on. Can you reverse the order of the rows? Columns?

In [101]:
df.sort_index(axis=0, ascending=True)

                 Phone      First       Last
Member #
A1001     125-111-4978     Austin       Bell
A1002     763-303-7544     Declan       Buck
A1003     695-919-3789      Carol    Vazquez
A1004     276-570-7451      Fleur     Dunlap
A1005     498-479-7074      Garth     Potter
A1006     139-907-8100    Martena    Jenkins
A1007     893-406-0425   Emmanuel     Morgan
A1008     205-472-5798       Hoyt    Tillman
A1009     820-847-5666       Tana    Vazquez
A1010     186-115-8489      Kitra     Jordan
A1011     287-177-2909      Jenna     Strong
A1012     899-323-0486      Helen   Sheppard
A1013     614-992-6830    Michael     Franco
A1014     572-564-7938      Imani      Byers
A1015     937-238-8313      Wendy      Stout
A1016     455-370-9268     Walker    Edwards
A1017     337-350-0922       Yael       Lamb
A1018     353-651-7605     Baxter    Charles
A1019     136-956-6416        Yen      Stein
A1020     482-431-3179      Perry        Ray
A1021     259-589-0664  Alexander    Patrick
A1022     601-488-1174      Irene   Cantrell
A1023     630-962-1162   Channing    Holland
A1024     607-929-1091       Roth      Nunez
A1025     679-505-2213       Anne    Sanders
A1026     852-561-0924       Erin    Puckett
A1027     620-969-5670     Evelyn     Harris
A1028     654-990-2627       Todd   Castillo
A1029     530-493-8306     Carson      Curry
A1030     594-789-4449   Savannah       Wood
...                ...        ...        ...
A1071     411-883-7642       Ulla      Avery
A1072     736-791-1156     Ariana      Small
A1073     677-980-7326       Cleo     Moreno
A1074     697-777-7905      Reece     Ortega
A1075     279-445-6561        Ori     Cotton
A1076     207-872-8956   Harrison       Page
A1077     672-355-0177    Vaughan   Browning
A1078     384-530-6659   Kathleen  Mcconnell
A1079     241-622-2164       Todd         Le
A1080     178-836-2737      Hilel   Mcintyre
A1081     513-285-0257  MacKenzie     Finley
A1082     724-607-5594      Anika      Bates
A1083     655-277-9422   Caldwell    Winters
A1084     652-717-6070      Flynn   Odonnell
A1085     618-571-0200    Anthony    Whitley
A1086     422-508-6558      Amber      Bauer
A1087     920-271-2608    Melissa     Acosta
A1088     420-181-3711  Jessamine     Reeves
A1089     423-672-9066   Meredith     Carter
A1090     192-617-3694     Keelie    Fischer
A1091     963-621-8389      Thane    Jenkins
A1092     225-392-0669    Brandon     Joseph
A1093     421-485-3036    Latifah     Palmer
A1094     146-650-2279      Briar   Mccarthy
A1095     971-380-3157        Ori       Wise
A1096     801-950-2736    Carolyn      Reese
A1097     363-333-3522      Carla      Hardy
A1098     611-668-2294      Halla     Barker
A1099     162-830-7380     Joseph      Nunez
A1100     706-238-3765       Finn   Hamilton

[100 rows x 3 columns]

- Can you sort the data by First Name or Last Name instead of by Member Number?

In [126]:
df.sort_values(by="First")

                 Phone       First       Last
Member #
A1018     353-651-7605      Baxter    Charles
A1092     225-392-0669     Brandon     Joseph
A1094     146-650-2279       Briar   Mccarthy
A1083     655-277-9422    Caldwell    Winters
A1033     406-131-3525      Calvin  Schroeder
A1066     677-234-5220     Camille      Brown
A1097     363-333-3522       Carla      Hardy
A1003     695-919-3789       Carol    Vazquez
A1096     801-950-2736     Carolyn      Reese
A1029     530-493-8306      Carson      Curry
A1052     789-767-9574      Chaney    Meadows
A1023     630-962-1162    Channing    Holland
A1073     677-980-7326        Cleo     Moreno
A1002     763-303-7544      Declan       Buck
A1065     926-479-4319      Dieter    Hampton
A1046     792-950-8116      Dillon     Campos
A1039     905-550-4518      Edward    Mcclure
A1007     893-406-0425    Emmanuel     Morgan
A1026     852-561-0924        Erin    Puckett
A1027     620-969-5670      Evelyn     Harris
A1034     548-715-2455      Farrah       Rowe
A1100     706-238-3765        Finn   Hamilton
A1004     276-570-7451       Fleur     Dunlap
A1084     652-717-6070       Flynn   Odonnell
A1057     710-973-1741  Fredericka       Shaw
A1005     498-479-7074       Garth     Potter
A1069     182-733-6396       Grace    Shelton
A1098     611-668-2294       Halla     Barker
A1076     207-872-8956    Harrison       Page
A1012     899-323-0486       Helen   Sheppard
...                ...         ...        ...
A1030     594-789-4449    Savannah       Wood
A1047     619-948-4860    Scarlett   Browning
A1063     443-699-5862      Sharon    Wallace
A1049     556-992-2754      Summer    Justice
A1070     301-987-3246      Summer     Tanner
A1009     820-847-5666        Tana    Vazquez
A1051     145-839-1115       Tasha    Hickman
A1060     242-782-8361       Tatum         Le
A1091     963-621-8389       Thane    Jenkins
A1028     654-990-2627        Todd   Castillo
A1079     241-622-2164        Todd         Le
A1061     740-286-2241      Trevor       Wade
A1071     411-883-7642        Ulla      Avery
A1086     422-508-6558     Unicorn      Bauer
A1021     259-589-0664     Unicorn    Patrick
A1082     724-607-5594     Unicorn      Bates
A1072     736-791-1156     Unicorn      Small
A1025     679-505-2213     Unicorn    Sanders
A1055     532-537-4622     Unicorn      Cooke
A1043     134-819-9669     Unicorn     Melton
A1042     598-729-8144     Unicorn    Solomon
A1040     474-992-6615     Unicorn     Alford
A1085     618-571-0200     Unicorn    Whitley
A1001     125-111-4978     Unicorn       Bell
A1077     672-355-0177     Vaughan   Browning
A1016     455-370-9268      Walker    Edwards
A1036     239-411-7282     Wallace  Blackwell
A1015     937-238-8313       Wendy      Stout
A1017     337-350-0922        Yael       Lamb
A1019     136-956-6416         Yen      Stein

[100 rows x 3 columns]

## Getting data:  

Next read [Getting](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html).

- select column First using the ["Column_Name"] notation

In [103]:
df["First"]

Member #
A1001       Austin
A1002       Declan
A1003        Carol
A1004        Fleur
A1005        Garth
A1006      Martena
A1007     Emmanuel
A1008         Hoyt
A1009         Tana
A1010        Kitra
A1011        Jenna
A1012        Helen
A1013      Michael
A1014        Imani
A1015        Wendy
A1016       Walker
A1017         Yael
A1018       Baxter
A1019          Yen
A1020        Perry
A1021    Alexander
A1022        Irene
A1023     Channing
A1024         Roth
A1025         Anne
A1026         Erin
A1027       Evelyn
A1028         Todd
A1029       Carson
A1030     Savannah
           ...
A1071         Ulla
A1072       Ariana
A1073         Cleo
A1074        Reece
A1075          Ori
A1076     Harrison
A1077      Vaughan
A1078     Kathleen
A1079         Todd
A1080        Hilel
A1081    MacKenzie
A1082        Anika
A1083     Caldwell
A1084        Flynn
A1085      Anthony
A1086        Amber
A1087      Melissa
A1088    Jessamine
A1089     Meredith
A1090       Keelie
A1091        Thane
A1092      Brandon
A1093      Latifah
A1094        Briar
A1095          Ori
A1096      Carolyn
A1097        Carla
A1098        Halla
A1099       Joseph
A1100         Finn
Name: First, Length: 100, dtype: object

- select column First using the .Column_Name notation

In [104]:
df.First

Member #
A1001       Austin
A1002       Declan
A1003        Carol
A1004        Fleur
A1005        Garth
A1006      Martena
A1007     Emmanuel
A1008         Hoyt
A1009         Tana
A1010        Kitra
A1011        Jenna
A1012        Helen
A1013      Michael
A1014        Imani
A1015        Wendy
A1016       Walker
A1017         Yael
A1018       Baxter
A1019          Yen
A1020        Perry
A1021    Alexander
A1022        Irene
A1023     Channing
A1024         Roth
A1025         Anne
A1026         Erin
A1027       Evelyn
A1028         Todd
A1029       Carson
A1030     Savannah
           ...
A1071         Ulla
A1072       Ariana
A1073         Cleo
A1074        Reece
A1075          Ori
A1076     Harrison
A1077      Vaughan
A1078     Kathleen
A1079         Todd
A1080        Hilel
A1081    MacKenzie
A1082        Anika
A1083     Caldwell
A1084        Flynn
A1085      Anthony
A1086        Amber
A1087      Melissa
A1088    Jessamine
A1089     Meredith
A1090       Keelie
A1091        Thane
A1092      Brandon
A1093      Latifah
A1094        Briar
A1095          Ori
A1096      Carolyn
A1097        Carla
A1098        Halla
A1099       Joseph
A1100         Finn
Name: First, Length: 100, dtype: object

- select rows 3 - 6 by slicing based on the row number (zero-indexed). Note that row number slicing excludes the row corresponding with the second argument, just like regular Python list slicing

In [105]:
df[3:7]

                 Phone     First     Last
Member #
A1004     276-570-7451     Fleur   Dunlap
A1005     498-479-7074     Garth   Potter
A1006     139-907-8100   Martena  Jenkins
A1007     893-406-0425  Emmanuel   Morgan

- select Members A1002 - A1005 by slicing based on the DataFrame index, in this case the member number. Note that index slicing is inclusive of the second argument.

In [106]:
df["A1002":"A1005"]

                 Phone   First     Last
Member #
A1002     763-303-7544  Declan     Buck
A1003     695-919-3789   Carol  Vazquez
A1004     276-570-7451   Fleur   Dunlap
A1005     498-479-7074   Garth   Potter

 - select ONLY row 3 / Member only by slicing based on the row index (zero-indexed) or the member number. Note that you MUST slice like "[start:end]"; a single row index number or label does not work.

In [107]:
df[2:3]

                 Phone  First     Last
Member #
A1003     695-919-3789  Carol  Vazquez

In [108]:
df["A1003":"A1003"]

                 Phone  First     Last
Member #
A1003     695-919-3789  Carol  Vazquez

## Selection by Label

Read [Selection by Label](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html). By "label", it means row label/index (Member #) or column label text rather than number.

- Print out df.loc. Apparently it’s some sort of special __pandas__ object. It seems the operator [] has been overloaded (by writing a \_\_getitem\_\_ method) for this object to provide a different means of accessing data from the DataFrame. According to the note at the beginning of the Selection section, it is somehow optimized to be faster than the regular DataFrame indexing above.

In [109]:
df.loc

- Use __.loc__ to select member A1002. Apparently the .loc object doesn’t require slicing like the DataFrame indexing.

In [110]:
df.loc["A1002"]

Phone    763-303-7544
First          Declan
Last             Buck
Name: A1002, dtype: object

- Select members A1002 - A1005 first and last names (no phone numbers).

In [127]:
df.loc["A1002":"A1005",["First","Last"]]

                 Phone     Last
Member #
A1002     763-303-7544     Buck
A1003     695-919-3789  Vazquez
A1004     276-570-7451   Dunlap
A1005     498-479-7074   Potter

- Can you select based on a list of member numbers (e.g. ["A1002", "A1003"] instead of slicing like "A1002":"A1003")? 
- Can you select by slicing column names (e.g. "First":"Last" instead of ["First","Last"])

In [128]:
df.loc[["A1002","A1003"],"Phone":"Last"]

                 Phone   First     Last
Member #
A1002     763-303-7544  Declan     Buck
A1003     695-919-3789   Carol  Vazquez

## Selection by Position

Read [Selection by Position](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html).

Try the same exercises as you did selecting by label, but this time using column and row numbers with .iloc (instead of row/column names with .loc) Note that like regular Python list slicing, indexing is 0-based (not including the row or column labels), the start bound is included in the returned data, and the end bound is excluded (as usual).

In [113]:
df.iloc[2]

Phone    695-919-3789
First           Carol
Last          Vazquez
Name: A1003, dtype: object

In [114]:
df.iloc[1:5,[1,2]]

           First     Last
Member #
A1002     Declan     Buck
A1003      Carol  Vazquez
A1004      Fleur   Dunlap
A1005      Garth   Potter

In [115]:
df.loc[["A1002","A1005"]]

                 Phone   First    Last
Member #
A1002     763-303-7544  Declan    Buck
A1005     498-479-7074   Garth  Potter

In [116]:
df.iloc[[1,4]]

                 Phone   First    Last
Member #
A1002     763-303-7544  Declan    Buck
A1005     498-479-7074   Garth  Potter

In [117]:
df.loc["A1002":"A1005","Phone":"Last"]

                 Phone   First     Last
Member #
A1002     763-303-7544  Declan     Buck
A1003     695-919-3789   Carol  Vazquez
A1004     276-570-7451   Fleur   Dunlap
A1005     498-479-7074   Garth   Potter

In [118]:
df.iloc[1:5,1:]

           First     Last
Member #
A1002     Declan     Buck
A1003      Carol  Vazquez
A1004      Fleur   Dunlap
A1005      Garth   Potter

## Boolean Indexing

- Read [Boolean Indexing](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html). 

Note that the operation __df.A > 0__ in the example returns a series of Boolean values. Each element in the series corresponds with whether the value in column A of df is greater than zero. 

__df[df.A > 0]__ selects only the rows where the Boolean value is true (the value in column A is greater than zero); it leaves out the rows in which the Boolean value is false (the value in column A is less than zero).

- Select the rows corresponding with all First names starting with "M-Z"

In [119]:
df["M" <= df.First]

                 Phone      First       Last
Member #
A1006     139-907-8100    Martena    Jenkins
A1009     820-847-5666       Tana    Vazquez
A1013     614-992-6830    Michael     Franco
A1015     937-238-8313      Wendy      Stout
A1016     455-370-9268     Walker    Edwards
A1017     337-350-0922       Yael       Lamb
A1019     136-956-6416        Yen      Stein
A1020     482-431-3179      Perry        Ray
A1024     607-929-1091       Roth      Nunez
A1028     654-990-2627       Todd   Castillo
A1030     594-789-4449   Savannah       Wood
A1031     834-211-7419       Ruby      Mcgee
A1032     242-558-4196   Meredith  Wilkerson
A1036     239-411-7282    Wallace  Blackwell
A1037     364-584-1094    Melodie  Maldonado
A1038     583-430-3157       Nita   Mitchell
A1045     399-792-2059    Quinlan     Berger
A1047     619-948-4860   Scarlett   Browning
A1049     556-992-2754     Summer    Justice
A1051     145-839-1115      Tasha    Hickman
A1054     569-719-7376      Raven   Randolph
A1060     242-782-8361      Tatum         Le
A1061     740-286-2241     Trevor       Wade
A1062     865-365-7405    Michael     Fuller
A1063     443-699-5862     Sharon    Wallace
A1064     576-202-7486     Nevada  Whitfield
A1067     596-606-9735   Margaret     Parker
A1070     301-987-3246     Summer     Tanner
A1071     411-883-7642       Ulla      Avery
A1074     697-777-7905      Reece     Ortega
A1075     279-445-6561        Ori     Cotton
A1077     672-355-0177    Vaughan   Browning
A1079     241-622-2164       Todd         Le
A1081     513-285-0257  MacKenzie     Finley
A1087     920-271-2608    Melissa     Acosta
A1089     423-672-9066   Meredith     Carter
A1091     963-621-8389      Thane    Jenkins
A1095     971-380-3157        Ori       Wise

- Select the rows with all First names that are "Meredith" or "Summer" (that is, are in the list [“Meredith”, “Summer”])

In [120]:
df[df.First.isin(["Meredith","Summer"])]

                 Phone     First       Last
Member #
A1032     242-558-4196  Meredith  Wilkerson
A1049     556-992-2754    Summer    Justice
A1070     301-987-3246    Summer     Tanner
A1089     423-672-9066  Meredith     Carter

- Select the rows with all First names that are "Meredith" or "Summer" and whose phone numbers start with 3-9. 

Note that you can perform element-wise logical operations with the & and | symbols, but you should be careful to group operations with parentheses.

In [121]:
df[df.First.isin(["Meredith","Summer"]) & (df.Phone >= "3")]

                 Phone     First     Last
Member #
A1049     556-992-2754    Summer  Justice
A1070     301-987-3246    Summer   Tanner
A1089     423-672-9066  Meredith   Carter

- Select the phone numbers (only) in all the rows in which the first names are "Meredith" or "Summer". The reading doesn’t show you explicitly, but you can use the logical series returned by an operation in conjunction with .loc and .iloc....

In [122]:
df[df.First.isin(["Meredith","Summer"])].loc[:,"Phone"]

Member #
A1032    242-558-4196
A1049    556-992-2754
A1070    301-987-3246
A1089    423-672-9066
Name: Phone, dtype: object

## Modify selected DataFrame data

- Now that you can select data, not only can you can return it - you can change it! You can change the value of all entries you have selected (to the same new value) simultaneously using the assignment operator. 

For instance:

my_data_frame.loc["A1001","Phone"] = "888-888-8888"

my_data_frame.iloc[0:1,0:1] = "111-111-1111"

my_data_frame.loc[my_data_frame.Phone == "111-111-1111", "Phone"] = "222-222-2222"

- Try changing all the First Names in the DataFrame that start with the letter "A" to "Unicorn"

In [123]:
df.First[df.First < "B"] = "Unicorn"
df

                 Phone      First       Last
Member #
A1001     125-111-4978    Unicorn       Bell
A1002     763-303-7544     Declan       Buck
A1003     695-919-3789      Carol    Vazquez
A1004     276-570-7451      Fleur     Dunlap
A1005     498-479-7074      Garth     Potter
A1006     139-907-8100    Martena    Jenkins
A1007     893-406-0425   Emmanuel     Morgan
A1008     205-472-5798       Hoyt    Tillman
A1009     820-847-5666       Tana    Vazquez
A1010     186-115-8489      Kitra     Jordan
A1011     287-177-2909      Jenna     Strong
A1012     899-323-0486      Helen   Sheppard
A1013     614-992-6830    Michael     Franco
A1014     572-564-7938      Imani      Byers
A1015     937-238-8313      Wendy      Stout
A1016     455-370-9268     Walker    Edwards
A1017     337-350-0922       Yael       Lamb
A1018     353-651-7605     Baxter    Charles
A1019     136-956-6416        Yen      Stein
A1020     482-431-3179      Perry        Ray
A1021     259-589-0664    Unicorn    Patrick
A1022     601-488-1174      Irene   Cantrell
A1023     630-962-1162   Channing    Holland
A1024     607-929-1091       Roth      Nunez
A1025     679-505-2213    Unicorn    Sanders
A1026     852-561-0924       Erin    Puckett
A1027     620-969-5670     Evelyn     Harris
A1028     654-990-2627       Todd   Castillo
A1029     530-493-8306     Carson      Curry
A1030     594-789-4449   Savannah       Wood
...                ...        ...        ...
A1071     411-883-7642       Ulla      Avery
A1072     736-791-1156    Unicorn      Small
A1073     677-980-7326       Cleo     Moreno
A1074     697-777-7905      Reece     Ortega
A1075     279-445-6561        Ori     Cotton
A1076     207-872-8956   Harrison       Page
A1077     672-355-0177    Vaughan   Browning
A1078     384-530-6659   Kathleen  Mcconnell
A1079     241-622-2164       Todd         Le
A1080     178-836-2737      Hilel   Mcintyre
A1081     513-285-0257  MacKenzie     Finley
A1082     724-607-5594    Unicorn      Bates
A1083     655-277-9422   Caldwell    Winters
A1084     652-717-6070      Flynn   Odonnell
A1085     618-571-0200    Unicorn    Whitley
A1086     422-508-6558    Unicorn      Bauer
A1087     920-271-2608    Melissa     Acosta
A1088     420-181-3711  Jessamine     Reeves
A1089     423-672-9066   Meredith     Carter
A1090     192-617-3694     Keelie    Fischer
A1091     963-621-8389      Thane    Jenkins
A1092     225-392-0669    Brandon     Joseph
A1093     421-485-3036    Latifah     Palmer
A1094     146-650-2279      Briar   Mccarthy
A1095     971-380-3157        Ori       Wise
A1096     801-950-2736    Carolyn      Reese
A1097     363-333-3522      Carla      Hardy
A1098     611-668-2294      Halla     Barker
A1099     162-830-7380     Joseph      Nunez
A1100     706-238-3765       Finn   Hamilton

[100 rows x 3 columns]

## Remove data

- You can remove data by selecting what you want and saving that to a new variable.

For instance, to remove the row A1001:

y = df[1:]

y = df["A1002":]

y = df[df.index != "A1001"]

In [124]:
y = df[1:]
# y = df[df.index != "A1001"]
y

                 Phone      First       Last
Member #
A1002     763-303-7544     Declan       Buck
A1003     695-919-3789      Carol    Vazquez
A1004     276-570-7451      Fleur     Dunlap
A1005     498-479-7074      Garth     Potter
A1006     139-907-8100    Martena    Jenkins
A1007     893-406-0425   Emmanuel     Morgan
A1008     205-472-5798       Hoyt    Tillman
A1009     820-847-5666       Tana    Vazquez
A1010     186-115-8489      Kitra     Jordan
A1011     287-177-2909      Jenna     Strong
A1012     899-323-0486      Helen   Sheppard
A1013     614-992-6830    Michael     Franco
A1014     572-564-7938      Imani      Byers
A1015     937-238-8313      Wendy      Stout
A1016     455-370-9268     Walker    Edwards
A1017     337-350-0922       Yael       Lamb
A1018     353-651-7605     Baxter    Charles
A1019     136-956-6416        Yen      Stein
A1020     482-431-3179      Perry        Ray
A1021     259-589-0664    Unicorn    Patrick
A1022     601-488-1174      Irene   Cantrell
A1023     630-962-1162   Channing    Holland
A1024     607-929-1091       Roth      Nunez
A1025     679-505-2213    Unicorn    Sanders
A1026     852-561-0924       Erin    Puckett
A1027     620-969-5670     Evelyn     Harris
A1028     654-990-2627       Todd   Castillo
A1029     530-493-8306     Carson      Curry
A1030     594-789-4449   Savannah       Wood
A1031     834-211-7419       Ruby      Mcgee
...                ...        ...        ...
A1071     411-883-7642       Ulla      Avery
A1072     736-791-1156    Unicorn      Small
A1073     677-980-7326       Cleo     Moreno
A1074     697-777-7905      Reece     Ortega
A1075     279-445-6561        Ori     Cotton
A1076     207-872-8956   Harrison       Page
A1077     672-355-0177    Vaughan   Browning
A1078     384-530-6659   Kathleen  Mcconnell
A1079     241-622-2164       Todd         Le
A1080     178-836-2737      Hilel   Mcintyre
A1081     513-285-0257  MacKenzie     Finley
A1082     724-607-5594    Unicorn      Bates
A1083     655-277-9422   Caldwell    Winters
A1084     652-717-6070      Flynn   Odonnell
A1085     618-571-0200    Unicorn    Whitley
A1086     422-508-6558    Unicorn      Bauer
A1087     920-271-2608    Melissa     Acosta
A1088     420-181-3711  Jessamine     Reeves
A1089     423-672-9066   Meredith     Carter
A1090     192-617-3694     Keelie    Fischer
A1091     963-621-8389      Thane    Jenkins
A1092     225-392-0669    Brandon     Joseph
A1093     421-485-3036    Latifah     Palmer
A1094     146-650-2279      Briar   Mccarthy
A1095     971-380-3157        Ori       Wise
A1096     801-950-2736    Carolyn      Reese
A1097     363-333-3522      Carla      Hardy
A1098     611-668-2294      Halla     Barker
A1099     162-830-7380     Joseph      Nunez
A1100     706-238-3765       Finn   Hamilton

[99 rows x 3 columns]

- We can also add data by concatenation. Read [Concat](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html).

- Now let's save our modified spreadsheet in data2.xlsx.

In [125]:
df.to_excel('data2.xlsx', sheet_name='Worksheet')